:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--p_size);
  line-height: 24px;
  font-weight: 400;

  
  color: var(--primary);
  background-color: var(--accent);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: var(--h1_size);
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: var(--h1_size);
}


#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 5px;
  border: 3px solid var(--primary);
  background-color: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
button:hover {
  transform: translateY(-2px);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.standartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(90vw, 50rem);
  margin-inline: auto;
  gap: clamp(1rem, 2vw, 8rem)
}

@media only screen and (max-width: 768px) {
  .standartContainer {
    flex-direction: column;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #2e2e2e; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

